body {
  overflow: hidden;
}
.Messagemain {
  color: white;
  width: 30vw;
  height: 95vh;
  border-right: 1px solid #888888;
}
.Messagemain h3 {
  padding: 0 5%;
}
.Messagemain p {
  color: #888888;
}
.search_part {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.search {
  position: fixed;
  z-index: 10;
  left: 3%;
}
.Messagemain input {
  width: 100%;
  margin: 10px 1%;
  padding-left: 40px;
  background-color: #222e35;
  color: white;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  position: relative;
}
.Messagemain input::placeholder {
  padding: 0;
  color: white;
}
.msgpeople {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-right: 10px;
  overflow-x: hidden;
}
.msgpeople p {
  font-size: 12px;
  padding: 0;
  margin-left: 10px;
  cursor: pointer;
  border-bottom: 1px solid#187501;
  min-width: 23vw;
  color: rgba(255, 255, 255, 0.658);
}
.msgpeople h1 {
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.msgpeople h2 {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.msgpeople img {
  cursor: pointer;
}
::placeholder {
  padding-left: 30px;
  color: #888888;
}
.selectedChat {
  font-weight: 600;
  background-color: rgba(74, 87, 2, 0.301);
}
.chatItem {
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
}
.nameTimeBar {
  display: flex;
  justify-content: space-between;
}
.messageField {
  max-width: 25vw;
}
.chatItem img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.chatItem:hover {
  background-color: rgba(255, 255, 255, 0.068);
}
.hl {
  border-bottom: 1px solid #888888;
  margin: 5px 0px;
  margin-left: 10%;
}
@media only screen and (min-width: 1350px) and (max-width: 1700px) {
  .search {
    left: 3.5%;
  }
}
@media only screen and (min-width: 1169px) and (max-width: 1350px) {
  .search {
    left: 4%;
  }
}

@media only screen and (min-width: 1115px) and (max-width: 1169px) {
  .search {
    left: 5%;
  }
  .Messagemain input::placeholder {
    padding-left: 15px;
  }
}
@media only screen and (min-width: 1023px) and (max-width: 1024px) {
  .search {
    left: 5%;
  }
  .Messagemain input::placeholder {
    padding-left: 15px;
  }
  .msgpeople p {
    min-width: 20vw;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .search_part {
    margin: 0;
  }
  .Messagemain input {
    margin: 10px 0%;
  }
  .Messagemain input::placeholder {
    padding-left: 15px;
  }
  .search {
    left: 5%;
  }
  .chatItem img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .msgpeople p {
    min-width: 20vw;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .search_part {
    margin: 0;
  }
  .Messagemain input {
    margin: 10px 0%;
  }
  .Messagemain input::placeholder {
    padding-left: 10px;
  }
  .search {
    left: 6%;
  }
  .chatItem img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .chatItem {
    display: block;
    text-align: center;
  }
  .messageField .time,
  p {
    display: none;
  }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
  .search_part {
    margin: 0 5px;
  }
  .Messagemain input {
    margin: 10px 0%;
  }
  .Messagemain input::placeholder {
    padding-left: 10px;
  }
  .search {
    left: 6%;
  }
  .Messagemain {
    margin-left: -8%;
    border-top-left-radius: 15px;
  }
  .chatItem img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .messageField .time,
  p {
    display: none;
  }
  .chatItem {
    display: block;
    text-align: center;
  }
}
@media only screen and (min-width: 150px) and (max-width: 300px) {
  .search {
    display: none;
  }
  .chatItem img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
  .chatItem {
    display: block;
    text-align: center;
  }
  .messageField .time,
  p {
    display: none;
  }
}
